drop extension if exists "pg_net";

drop function if exists "public"."submit_game_result"(p_user_answers jsonb, p_question_ids jsonb, p_game_mode text, p_items_used jsonb, p_session_id uuid, p_category text, p_subject text, p_level integer, p_avg_solve_time double precision);

alter table "public"."user_game_logs" alter column "id" set default gen_random_uuid();

set check_function_bodies = off;

CREATE OR REPLACE FUNCTION public.check_mastery_consistency()
 RETURNS TABLE(out_user_id uuid, out_nickname text, out_profile_score bigint, out_records_sum bigint, out_message text)
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
BEGIN
    RETURN QUERY
    SELECT p.id, COALESCE(p.nickname, '?듬챸 ?깅컲媛'::pg_catalog.text), p.total_mastery_score::pg_catalog.int8,
        COALESCE((SELECT pg_catalog.sum(ulr.best_score::pg_catalog.int8) FROM public.user_level_records ulr WHERE ulr.user_id = p.id), 0::pg_catalog.int8)::pg_catalog.int8,
        (('Inconsistency detected: profile='::pg_catalog.text || p.total_mastery_score::pg_catalog.text || ', records='::pg_catalog.text || COALESCE((SELECT pg_catalog.sum(ulr.best_score::pg_catalog.int8) FROM public.user_level_records ulr WHERE ulr.user_id = p.id), 0::pg_catalog.int8)::pg_catalog.text))::pg_catalog.text
    FROM public.profiles p
    WHERE p.total_mastery_score::pg_catalog.int8 != COALESCE((SELECT pg_catalog.sum(ulr.best_score::pg_catalog.int8) FROM public.user_level_records ulr WHERE ulr.user_id = p.id), 0::pg_catalog.int8)::pg_catalog.int8;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.check_profile_update_security()
 RETURNS trigger
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
BEGIN
    IF (pg_catalog.current_setting('app.bypass_profile_security', true) = '1') THEN RETURN NEW; END IF;
    RAISE EXCEPTION 'Profiles can only be updated via secure RPC functions';
END;
$function$
;

CREATE OR REPLACE FUNCTION public.cleanup_expired_sessions(p_days_to_keep integer DEFAULT 7)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
DECLARE
    v_deleted_count pg_catalog.int4;
BEGIN
    DELETE FROM public.game_sessions
    WHERE created_at < (now() - (p_days_to_keep * '1 day'::pg_catalog.interval))
    AND status IN ('completed'::pg_catalog.text, 'expired'::pg_catalog.text); -- Only cleanup finished sessions

    GET DIAGNOSTICS v_deleted_count = ROW_COUNT;

    RETURN pg_catalog.jsonb_build_object(
        'success', true,
        'deleted_count', v_deleted_count,
        'message', v_deleted_count || ' expired sessions purged.'
    );
END;
$function$
;

CREATE OR REPLACE FUNCTION public.create_game_session(p_questions jsonb, p_category text DEFAULT 'math'::text, p_subject text DEFAULT 'add'::text, p_level integer DEFAULT 1, p_game_mode text DEFAULT 'timeattack'::text, p_is_debug_session boolean DEFAULT false)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
DECLARE
  v_user_id UUID := auth.uid();
  v_session_id UUID;
  v_questions_for_client JSONB;
  v_current_stamina INTEGER;
BEGIN
  -- Authentication Check
  IF v_user_id IS NULL THEN
    RETURN pg_catalog.jsonb_build_object('success', false, 'message', 'Not authenticated');
  END IF;

  -- 1. Check Stamina (if not debug session)
  IF NOT COALESCE(p_is_debug_session, false) THEN
    SELECT stamina INTO v_current_stamina FROM public.profiles WHERE id = v_user_id;
    IF v_current_stamina < 1 THEN
      RETURN pg_catalog.jsonb_build_object('success', false, 'message', 'Insufficient stamina');
    END IF;

    -- 2. Deduct Stamina (Atomic)
    PERFORM pg_catalog.set_config('app.bypass_profile_security', '1', true);
    UPDATE public.profiles SET stamina = stamina - 1, updated_at = now() WHERE id = v_user_id;
  END IF;

  -- 3. Expire existing 'playing' sessions for this user
  UPDATE public.game_sessions
  SET status = 'expired'
  WHERE user_id = v_user_id AND status = 'playing';

  -- 4. Create New Session
  INSERT INTO public.game_sessions (
    user_id, status, expires_at, questions, 
    category, subject, level, game_mode,
    is_debug_session
  )
  VALUES (
    v_user_id, 'playing', now() + interval '30 minutes', 
    p_questions, p_category, p_subject, p_level, p_game_mode,
    p_is_debug_session
  )
  RETURNING id INTO v_session_id;

  -- 5. Prepare questions for client (remove answers)
  SELECT pg_catalog.jsonb_agg(q - 'correct_answer') INTO v_questions_for_client
  FROM pg_catalog.jsonb_array_elements(p_questions) AS q;

  RETURN pg_catalog.jsonb_build_object(
    'success', true,
    'session_id', v_session_id,
    'expires_at', (SELECT expires_at FROM public.game_sessions WHERE id = v_session_id),
    'questions', v_questions_for_client
  );
END;
$function$
;

CREATE OR REPLACE FUNCTION public.debug_create_persona_player(p_nickname text, p_persona_type text DEFAULT 'regular'::text)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
DECLARE
    v_user_id pg_catalog.uuid := extensions.gen_random_uuid();
    v_world_id pg_catalog.text := 'math_world'::pg_catalog.text;
    v_base_score pg_catalog.int4;
    v_total_score pg_catalog.int8 := 0::pg_catalog.int8;
    v_theme_code pg_catalog.int2;
    v_mode_code pg_catalog.int2 := 1; 
    v_theme_id pg_catalog.text;
BEGIN
    INSERT INTO auth.users (id, instance_id, email, raw_user_meta_data, aud, role, is_sso_user, is_anonymous, created_at, updated_at)
    VALUES (v_user_id, '00000000-0000-0000-0000-000000000000', 'dummy_' || pg_catalog.replace(v_user_id::pg_catalog.text, '-'::pg_catalog.text, ''::pg_catalog.text) || '@solve-climb.local', 
            pg_catalog.jsonb_build_object('is_dummy'::pg_catalog.text, true::pg_catalog.bool, 'nickname'::pg_catalog.text, p_nickname), 'authenticated', 'authenticated', FALSE, FALSE, pg_catalog.now(), pg_catalog.now());

    INSERT INTO public.profiles (id, nickname, is_dummy, persona_type, total_mastery_score, minerals, stamina)
    VALUES (v_user_id, p_nickname, TRUE, p_persona_type, 0::pg_catalog.int8, 1000::pg_catalog.int4, 10::pg_catalog.int4)
    ON CONFLICT (id) DO UPDATE SET nickname = EXCLUDED.nickname, is_dummy = EXCLUDED.is_dummy, persona_type = EXCLUDED.persona_type;

    FOR v_theme_id IN SELECT unnest(ARRAY['math_add'::pg_catalog.text, 'math_sub'::pg_catalog.text, 'math_mul'::pg_catalog.text, 'math_div'::pg_catalog.text]) LOOP
        SELECT code INTO v_theme_code FROM public.theme_mapping WHERE theme_id = v_theme_id;
        IF v_theme_code IS NOT NULL THEN
            FOR i IN 1..5 LOOP
                v_base_score := ((10 + (i - 1) * 5) * 10)::pg_catalog.int4;
                INSERT INTO public.user_level_records (user_id, world_id, mode_code, theme_code, level, best_score, category_id, subject_id)
                VALUES (v_user_id, v_world_id, v_mode_code, v_theme_code, i, v_base_score::pg_catalog.int8, pg_catalog.split_part(v_theme_id, '_'::pg_catalog.text, 1), pg_catalog.split_part(v_theme_id, '_'::pg_catalog.text, 2))
                ON CONFLICT (user_id, theme_code, level, mode_code) DO NOTHING;
                v_total_score := v_total_score + v_base_score;
            END LOOP;
        END IF;
    END LOOP;

    UPDATE public.profiles SET total_mastery_score = v_total_score WHERE id = v_user_id;
    RETURN pg_catalog.jsonb_build_object('success'::pg_catalog.text, true::pg_catalog.bool, 'user_id'::pg_catalog.text, v_user_id);
END;
$function$
;

CREATE OR REPLACE FUNCTION public.debug_delete_all_dummies()
 RETURNS json
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
BEGIN
    IF NOT COALESCE((SELECT (value::boolean) FROM public.game_config WHERE key = 'debug_mode_enabled'), false) THEN
        RETURN json_build_object('success'::text, false::boolean, 'error'::text, 'Debug mode is not enabled'::text);
    END IF;

    DELETE FROM auth.users WHERE email LIKE 'dummy_%@solve-climb.local';
    DELETE FROM public.profiles WHERE is_dummy = true;

    RETURN json_build_object('success'::text, true::boolean);
END;
$function$
;

CREATE OR REPLACE FUNCTION public.debug_reset_profile(p_user_id uuid, p_reset_type text)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
DECLARE
  v_authenticated_user_id UUID := auth.uid();
  v_is_dev BOOLEAN;
BEGIN
  SELECT COALESCE((value::BOOLEAN), false) INTO v_is_dev
  FROM public.game_config
  WHERE key = 'debug_mode_enabled';
  
  IF NOT v_is_dev THEN
    RETURN jsonb_build_object('success', false, 'message', 'Debug functions are disabled in production');
  END IF;
  
  IF v_authenticated_user_id IS NULL OR p_user_id != v_authenticated_user_id THEN
    RETURN jsonb_build_object('success', false, 'message', 'Permission denied');
  END IF;
  
  -- 蹂댁븞 ?몃━嫄??고쉶 ?ㅼ젙
  PERFORM set_config('app.bypass_profile_security', '1', true);

  CASE p_reset_type
    WHEN 'all' THEN
      UPDATE public.profiles
      SET total_mastery_score = 0,
          current_tier_level = 0,
          minerals = 0,
          stamina = 5,
          updated_at = NOW()
      WHERE id = p_user_id;
      
      DELETE FROM public.inventory WHERE user_id = p_user_id;
      DELETE FROM public.user_level_records WHERE user_id = p_user_id;
      DELETE FROM public.user_badges WHERE user_id = p_user_id;
      
    WHEN 'score' THEN
      UPDATE public.profiles
      SET total_mastery_score = 0,
          current_tier_level = 0,
          updated_at = NOW()
      WHERE id = p_user_id;
      DELETE FROM public.user_level_records WHERE user_id = p_user_id;
    WHEN 'minerals' THEN
      UPDATE public.profiles
      SET minerals = 0,
          updated_at = NOW()
      WHERE id = p_user_id;
    WHEN 'tier' THEN
      UPDATE public.profiles
      SET current_tier_level = 0,
          updated_at = NOW()
      WHERE id = p_user_id;
    ELSE
      RAISE EXCEPTION 'Invalid reset type: %', p_reset_type;
  END CASE;
  
  RETURN jsonb_build_object('success', true, 'message', 'Profile reset complete: ' || p_reset_type);
END;
$function$
;

CREATE OR REPLACE FUNCTION public.debug_set_mastery_score(p_user_id uuid, p_score integer)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
DECLARE
  v_authenticated_user_id UUID := auth.uid();
  v_is_dev BOOLEAN;
BEGIN
  SELECT COALESCE((value::BOOLEAN), false) INTO v_is_dev
  FROM public.game_config
  WHERE key = 'debug_mode_enabled';
  
  IF NOT v_is_dev THEN
    RETURN jsonb_build_object('success', false, 'message', 'Debug functions are disabled in production');
  END IF;
  
  IF v_authenticated_user_id IS NULL THEN
    RETURN jsonb_build_object('success', false, 'message', 'User not authenticated');
  END IF;
  
  IF p_user_id != v_authenticated_user_id THEN
    RETURN jsonb_build_object('success', false, 'message', 'Permission denied');
  END IF;
  
  -- 蹂댁븞 ?몃━嫄??고쉶 ?ㅼ젙
  PERFORM set_config('app.bypass_profile_security', '1', true);

  UPDATE public.profiles
  SET total_mastery_score = p_score,
      updated_at = NOW()
  WHERE id = p_user_id;
  
  PERFORM public.update_user_tier(p_user_id);
  
  RETURN jsonb_build_object('success', true, 'message', 'Mastery score updated to ' || p_score);
END;
$function$
;

CREATE OR REPLACE FUNCTION public.debug_set_tier(p_user_id uuid, p_level integer)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
DECLARE
  v_authenticated_user_id UUID := auth.uid();
  v_is_dev BOOLEAN;
BEGIN
  SELECT COALESCE((value::BOOLEAN), false) INTO v_is_dev
  FROM public.game_config
  WHERE key = 'debug_mode_enabled';
  
  IF NOT v_is_dev THEN
    RETURN jsonb_build_object('success', false, 'message', 'Debug functions are disabled in production');
  END IF;
  
  IF v_authenticated_user_id IS NULL OR p_user_id != v_authenticated_user_id THEN
    RETURN jsonb_build_object('success', false, 'message', 'Permission denied');
  END IF;
  
  -- 蹂댁븞 ?몃━嫄??고쉶 ?ㅼ젙
  PERFORM set_config('app.bypass_profile_security', '1', true);

  UPDATE public.profiles
  SET current_tier_level = p_level,
      updated_at = NOW()
  WHERE id = p_user_id;
  
  RETURN jsonb_build_object('success', true, 'message', 'Tier updated to level ' || p_level);
END;
$function$
;

CREATE OR REPLACE FUNCTION public.debug_update_profile_stats(p_user_id uuid, p_stamina integer DEFAULT NULL::integer, p_minerals integer DEFAULT NULL::integer, p_total_mastery_score integer DEFAULT NULL::integer)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
DECLARE
    v_is_dev BOOLEAN;
BEGIN
    SELECT COALESCE((value::BOOLEAN), false) INTO v_is_dev
    FROM public.game_config
    WHERE key = 'debug_mode_enabled';
    
    IF NOT v_is_dev THEN
        RETURN jsonb_build_object('success', false, 'message', 'Debug functions are disabled in production');
    END IF;

    -- 蹂댁븞 ?몃━嫄??고쉶 ?ㅼ젙
    PERFORM set_config('app.bypass_profile_security', '1', true);

    UPDATE public.profiles
    SET 
        stamina = COALESCE(p_stamina, stamina),
        minerals = COALESCE(p_minerals, minerals),
        total_mastery_score = COALESCE(p_total_mastery_score, total_mastery_score),
        updated_at = NOW()
    WHERE id = p_user_id;

    RETURN jsonb_build_object(
        'success', true,
        'message', 'Profile stats updated successfully'
    );
EXCEPTION WHEN OTHERS THEN
    RETURN jsonb_build_object(
        'success', false,
        'message', SQLERRM
    );
END;
$function$
;

CREATE OR REPLACE FUNCTION public.get_leaderboard(p_mode text, p_limit integer DEFAULT 50)
 RETURNS TABLE(rank bigint, nickname text, score bigint, user_id uuid)
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
BEGIN
  RETURN QUERY
  SELECT
    pg_catalog.rank() OVER (ORDER BY 
      (CASE 
        WHEN p_mode = 'time-attack'::pg_catalog.text THEN weekly_score_timeattack 
        WHEN p_mode = 'survival'::pg_catalog.text THEN weekly_score_survival 
        ELSE weekly_score_total 
      END)::pg_catalog.int8 DESC
    )::pg_catalog.int8 as out_rank,
    COALESCE(p.nickname, '?듬챸 ?깅컲媛'::pg_catalog.text) as out_nickname,
    (CASE 
      WHEN p_mode = 'time-attack'::pg_catalog.text THEN weekly_score_timeattack 
      WHEN p_mode = 'survival'::pg_catalog.text THEN weekly_score_survival 
      ELSE weekly_score_total 
    END)::pg_catalog.int8 as out_score,
    p.id as out_user_id
  FROM public.profiles p
  WHERE (CASE 
      WHEN p_mode = 'time-attack'::pg_catalog.text THEN weekly_score_timeattack 
      WHEN p_mode = 'survival'::pg_catalog.text THEN weekly_score_survival 
      ELSE weekly_score_total 
    END) >= 0::pg_catalog.int8
  ORDER BY out_score DESC
  LIMIT p_limit;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.get_ranking_v2(p_category text, p_period text, p_type text, p_limit integer DEFAULT 50)
 RETURNS TABLE(out_user_id uuid, out_nickname text, out_score bigint, out_rank bigint)
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
BEGIN
    IF p_period = 'weekly' THEN
        RETURN QUERY
        SELECT 
            p.id as out_user_id,
            COALESCE(p.nickname, '?듬챸 ?깅컲媛'::pg_catalog.text) as out_nickname,
            CASE 
                WHEN p_type = 'time-attack' THEN p.weekly_score_timeattack::pg_catalog.int8
                WHEN p_type = 'survival' THEN p.weekly_score_survival::pg_catalog.int8
                ELSE p.weekly_score_total::pg_catalog.int8
            END as out_score,
            pg_catalog.rank() OVER (
                ORDER BY (
                    CASE 
                        WHEN p_type = 'time-attack' THEN p.weekly_score_timeattack
                        WHEN p_type = 'survival' THEN p.weekly_score_survival
                        ELSE p.weekly_score_total
                    END
                ) DESC
            )::pg_catalog.int8 as out_rank
        FROM public.profiles p
        WHERE (p_category IS NULL OR p_category = p_category) AND (
            CASE 
                WHEN p_type = 'time-attack' THEN p.weekly_score_timeattack
                WHEN p_type = 'survival' THEN p.weekly_score_survival
                ELSE p.weekly_score_total
            END
        ) > 0::pg_catalog.int8
        ORDER BY 3 DESC
        LIMIT p_limit;
    ELSE
        -- All-Time (Total Mastery)
        IF p_type = 'total' THEN
            RETURN QUERY
            SELECT 
                p.id as out_user_id,
                COALESCE(p.nickname, '?듬챸 ?깅컲媛'::pg_catalog.text) as out_nickname,
                p.total_mastery_score::pg_catalog.int8 as out_score,
                pg_catalog.rank() OVER (ORDER BY p.total_mastery_score DESC)::pg_catalog.int8 as out_rank
            FROM public.profiles p
            WHERE (p_category IS NULL OR p_category = p_category) AND p.total_mastery_score > 0::pg_catalog.int8
            ORDER BY 3 DESC
            LIMIT p_limit;
        ELSE
            -- Best Score per mode (Using cached best scores in profile)
            RETURN QUERY
            SELECT 
                p.id as out_user_id,
                COALESCE(p.nickname, '?듬챸 ?깅컲媛'::pg_catalog.text) as out_nickname,
                CASE 
                    WHEN p_type = 'time-attack' THEN p.best_score_timeattack::pg_catalog.int8
                    ELSE p.best_score_survival::pg_catalog.int8
                END as out_score,
                pg_catalog.rank() OVER (
                    ORDER BY (
                        CASE 
                            WHEN p_type = 'time-attack' THEN p.best_score_timeattack
                            ELSE p.best_score_survival
                        END
                    ) DESC
                )::pg_catalog.int8 as out_rank
            FROM public.profiles p
            WHERE (p_category IS NULL OR p_category = p_category) AND (
                CASE 
                    WHEN p_type = 'time-attack' THEN p.best_score_timeattack
                    ELSE p.best_score_survival
                END
            ) > 0::pg_catalog.int8
            ORDER BY 3 DESC
            LIMIT p_limit;
        END IF;
    END IF;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.get_recent_game_logs(p_limit integer DEFAULT 10)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO 'public'
AS $function$
DECLARE
    v_user_id UUID := auth.uid();
    v_logs JSONB;
BEGIN
    IF v_user_id IS NULL THEN
        RAISE EXCEPTION 'Not authenticated';
    END IF;

    SELECT jsonb_agg(l) INTO v_logs
    FROM (
        SELECT id, game_mode, world_id, category_id, level, score, correct_count, total_questions, avg_solve_time, created_at, wrong_answers
        FROM public.user_game_logs
        WHERE user_id = v_user_id
        ORDER BY created_at DESC
        LIMIT p_limit
    ) l;

    RETURN v_logs;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.get_user_game_stats()
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO 'public'
AS $function$
DECLARE
    v_user_id UUID := auth.uid();
    v_stats RECORD;
BEGIN
    IF v_user_id IS NULL THEN
        RAISE EXCEPTION 'Not authenticated';
    END IF;

    SELECT * INTO v_stats FROM public.user_statistics WHERE id = v_user_id;
    
    IF NOT FOUND THEN
        INSERT INTO public.user_statistics (id) VALUES (v_user_id) RETURNING * INTO v_stats;
    END IF;

    RETURN jsonb_build_object(
        'total_games', v_stats.total_games,
        'total_correct', v_stats.total_correct,
        'total_questions', v_stats.total_questions,
        'best_streak', v_stats.best_streak,
        'avg_solve_time', v_stats.avg_solve_time,
        'last_played_at', v_stats.last_played_at
    );
END;
$function$
;

CREATE OR REPLACE FUNCTION public.promote_to_next_cycle()
 RETURNS void
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
DECLARE
    v_rec RECORD;
    v_week_start pg_catalog.date := pg_catalog.date_trunc('week', pg_catalog.now())::pg_catalog.date;
    v_tier pg_catalog.jsonb;
BEGIN
    FOR v_rec IN (SELECT * FROM public.get_ranking_v2(NULL::pg_catalog.text, 'weekly'::pg_catalog.text, 'total'::pg_catalog.text, 3)) LOOP
        v_tier := public.calculate_tier(v_rec.out_score::pg_catalog.int8);
        INSERT INTO public.hall_of_fame (week_start_date, user_id, nickname, score, mode, rank, tier_level, tier_stars)
        VALUES (v_week_start, v_rec.out_user_id, v_rec.out_nickname, v_rec.out_score, 'total'::pg_catalog.text, v_rec.out_rank::pg_catalog.int4, (v_tier->>'level')::pg_catalog.int4, (v_tier->>'stars')::pg_catalog.int4)
        ON CONFLICT (id) DO NOTHING;
    END LOOP;
    UPDATE public.profiles SET weekly_score_total = 0, weekly_score_timeattack = 0, weekly_score_survival = 0, updated_at = pg_catalog.now();
END;
$function$
;

CREATE OR REPLACE FUNCTION public.purchase_item(p_item_id integer, p_quantity integer DEFAULT 1)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
DECLARE
    v_user_id pg_catalog.uuid := auth.uid();
    v_item_price pg_catalog.int4;
    v_user_minerals pg_catalog.int4;
BEGIN
    IF v_user_id IS NULL THEN 
        RETURN pg_catalog.jsonb_build_object('success'::pg_catalog.text, false::pg_catalog.bool, 'message'::pg_catalog.text, 'Not authenticated'::pg_catalog.text); 
    END IF;

    SELECT price INTO v_item_price FROM public.items WHERE id = p_item_id;
    
    IF v_item_price IS NULL THEN 
        RETURN pg_catalog.jsonb_build_object('success'::pg_catalog.text, false::pg_catalog.bool, 'message'::pg_catalog.text, 'Item not found'::pg_catalog.text); 
    END IF;

    SELECT minerals INTO v_user_minerals FROM public.profiles WHERE id = v_user_id;

    IF v_user_minerals < (v_item_price * p_quantity) THEN 
        RETURN pg_catalog.jsonb_build_object('success'::pg_catalog.text, false::pg_catalog.bool, 'message'::pg_catalog.text, 'Insufficient minerals'::pg_catalog.text); 
    END IF;

    PERFORM pg_catalog.set_config('app.bypass_profile_security', 'true', true);

    UPDATE public.profiles 
    SET minerals = minerals - (v_item_price * p_quantity), 
        updated_at = pg_catalog.now() 
    WHERE id = v_user_id;

    INSERT INTO public.inventory (user_id, item_id, quantity) 
    VALUES (v_user_id, p_item_id, p_quantity) 
    ON CONFLICT (user_id, item_id) 
    DO UPDATE SET quantity = inventory.quantity + EXCLUDED.quantity, updated_at = pg_catalog.now();

    INSERT INTO public.security_audit_log (user_id, event_type, event_data) 
    VALUES (v_user_id, 'item_purchased'::pg_catalog.text, pg_catalog.jsonb_build_object('item_id'::pg_catalog.text, p_item_id, 'quantity'::pg_catalog.text, p_quantity));

    PERFORM pg_catalog.set_config('app.bypass_profile_security', '', true);

    RETURN pg_catalog.jsonb_build_object('success'::pg_catalog.text, true::pg_catalog.bool, 'message'::pg_catalog.text, 'Purchase successful'::pg_catalog.text);
END;
$function$
;

CREATE OR REPLACE FUNCTION public.reset_weekly_scores()
 RETURNS void
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
DECLARE
    v_rec RECORD;
    v_week_start pg_catalog.date := pg_catalog.date_trunc('week', pg_catalog.now())::pg_catalog.date;
    v_tier pg_catalog.jsonb;
BEGIN
    -- 'total' mode
    FOR v_rec IN (SELECT * FROM public.get_ranking_v2(NULL::pg_catalog.text, 'weekly'::pg_catalog.text, 'total'::pg_catalog.text, 3)) LOOP
        v_tier := public.calculate_tier(v_rec.out_score::pg_catalog.int8);
        INSERT INTO public.hall_of_fame (week_start_date, user_id, nickname, score, mode, rank, tier_level, tier_stars)
        VALUES (v_week_start, v_rec.out_user_id, v_rec.out_nickname, v_rec.out_score, 'total'::pg_catalog.text, v_rec.out_rank::pg_catalog.int4, (v_tier->>'level')::pg_catalog.int4, (v_tier->>'stars')::pg_catalog.int4)
        ON CONFLICT (id) DO NOTHING;
    END LOOP;

    -- 'time-attack' mode
    FOR v_rec IN (SELECT * FROM public.get_ranking_v2(NULL::pg_catalog.text, 'weekly'::pg_catalog.text, 'time-attack'::pg_catalog.text, 3)) LOOP
        v_tier := public.calculate_tier(v_rec.out_score::pg_catalog.int8);
        INSERT INTO public.hall_of_fame (week_start_date, user_id, nickname, score, mode, rank, tier_level, tier_stars)
        VALUES (v_week_start, v_rec.out_user_id, v_rec.out_nickname, v_rec.out_score, 'time-attack'::pg_catalog.text, v_rec.out_rank::pg_catalog.int4, (v_tier->>'level')::pg_catalog.int4, (v_tier->>'stars')::pg_catalog.int4)
        ON CONFLICT (id) DO NOTHING;
    END LOOP;

    -- 'survival' mode
    FOR v_rec IN (SELECT * FROM public.get_ranking_v2(NULL::pg_catalog.text, 'weekly'::pg_catalog.text, 'survival'::pg_catalog.text, 3)) LOOP
        v_tier := public.calculate_tier(v_rec.out_score::pg_catalog.int8);
        INSERT INTO public.hall_of_fame (week_start_date, user_id, nickname, score, mode, rank, tier_level, tier_stars)
        VALUES (v_week_start, v_rec.out_user_id, v_rec.out_nickname, v_rec.out_score, 'survival'::pg_catalog.text, v_rec.out_rank::pg_catalog.int4, (v_tier->>'level')::pg_catalog.int4, (v_tier->>'stars')::pg_catalog.int4)
        ON CONFLICT (id) DO NOTHING;
    END LOOP;

    UPDATE public.profiles SET weekly_score_total = 0, weekly_score_timeattack = 0, weekly_score_survival = 0, updated_at = pg_catalog.now();
END;
$function$
;

CREATE OR REPLACE FUNCTION public.secure_reward_ad_view()
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
DECLARE
    v_user_id pg_catalog.uuid := auth.uid();
    v_reward_minerals pg_catalog.int4 := 50;
    v_reward_stamina pg_catalog.int4 := 5;
BEGIN
    IF v_user_id IS NULL THEN RETURN pg_catalog.jsonb_build_object('success'::pg_catalog.text, false::pg_catalog.bool, 'message'::pg_catalog.text, 'Not authenticated'::pg_catalog.text); END IF;
    PERFORM pg_catalog.set_config('app.bypass_profile_security', 'true', true);
    
    UPDATE public.profiles
    SET minerals = minerals + v_reward_minerals,
        stamina = CASE WHEN v_reward_stamina > 0 THEN GREATEST(stamina, v_reward_stamina) ELSE stamina END,
        last_ad_stamina_recharge = CASE WHEN v_reward_stamina > 0 THEN pg_catalog.now() ELSE last_ad_stamina_recharge END,
        updated_at = pg_catalog.now()
    WHERE id = v_user_id
    RETURNING minerals, stamina INTO v_reward_minerals, v_reward_stamina;
    
    PERFORM pg_catalog.set_config('app.bypass_profile_security', '', true);

    RETURN pg_catalog.jsonb_build_object('success'::pg_catalog.text, true::pg_catalog.bool, 'minerals'::pg_catalog.text, v_reward_minerals, 'stamina'::pg_catalog.text, v_reward_stamina);
END;
$function$
;

CREATE OR REPLACE FUNCTION public.submit_game_result(p_user_answers jsonb, p_question_ids jsonb, p_game_mode text, p_items_used integer[], p_session_id uuid, p_category text, p_subject text, p_level integer, p_avg_solve_time double precision)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
DECLARE
  v_user_id pg_catalog.uuid := auth.uid();
  v_calculated_score pg_catalog.int4;
  v_earned_minerals pg_catalog.int4;
BEGIN
  -- Suppress unused parameter lints
  PERFORM p_user_answers, p_question_ids, p_game_mode, p_items_used, p_category, p_subject, p_avg_solve_time;

  PERFORM pg_catalog.set_config('app.bypass_profile_security', 'true', true);
  
  IF NOT EXISTS (SELECT 1 FROM public.game_sessions WHERE id = p_session_id AND user_id = v_user_id) THEN
    RETURN pg_catalog.jsonb_build_object('success', false, 'message', 'Session not found'::pg_catalog.text);
  END IF;

  v_calculated_score := (100 * p_level)::pg_catalog.int4; 
  UPDATE public.game_sessions SET status = 'completed'::pg_catalog.text, score = v_calculated_score WHERE id = p_session_id;
  
  UPDATE public.profiles SET last_game_submit_at = pg_catalog.now() WHERE id = v_user_id; 
  
  v_earned_minerals := LEAST(pg_catalog.floor(v_calculated_score::pg_catalog.numeric / 10)::pg_catalog.int4, 10000);
  UPDATE public.profiles SET minerals = minerals + v_earned_minerals WHERE id = v_user_id;
  
  PERFORM pg_catalog.set_config('app.bypass_profile_security', '', true);
  
  RETURN pg_catalog.jsonb_build_object('success', true, 'earned_minerals', v_earned_minerals, 'calculated_score', v_calculated_score);
END;
$function$
;

CREATE OR REPLACE FUNCTION public.test_db_all_validations()
 RETURNS TABLE(test_name text, result boolean, message text, details jsonb)
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
BEGIN
  -- Basic Constraints Checks
  RETURN QUERY
  SELECT 
    'check_minerals_non_negative'::pg_catalog.text,
    (SELECT pg_catalog.count(*) = 0::pg_catalog.int8 FROM public.profiles WHERE minerals < 0::pg_catalog.int4)::pg_catalog.bool,
    'All profiles have non-negative minerals'::pg_catalog.text,
    pg_catalog.jsonb_build_object('count'::pg_catalog.text, (SELECT pg_catalog.count(*) FROM public.profiles WHERE minerals < 0::pg_catalog.int4));

  RETURN QUERY
  SELECT 
    'check_stamina_range'::pg_catalog.text,
    (SELECT pg_catalog.count(*) = 0::pg_catalog.int8 FROM public.profiles WHERE stamina < 0::pg_catalog.int4 OR stamina > 999::pg_catalog.int4)::pg_catalog.bool,
    'All profiles have stamina in valid range (0-999)'::pg_catalog.text,
    pg_catalog.jsonb_build_object('count'::pg_catalog.text, (SELECT pg_catalog.count(*) FROM public.profiles WHERE stamina < 0::pg_catalog.int4 OR stamina > 999::pg_catalog.int4));

  RETURN QUERY
  SELECT 
    'check_inventory_quantity'::pg_catalog.text,
    (SELECT pg_catalog.count(*) = 0::pg_catalog.int8 FROM public.inventory WHERE quantity <= 0::pg_catalog.int4)::pg_catalog.bool,
    'All inventory items have positive quantity'::pg_catalog.text,
    pg_catalog.jsonb_build_object('count'::pg_catalog.text, (SELECT pg_catalog.count(*) FROM public.inventory WHERE quantity <= 0::pg_catalog.int4));

  RETURN QUERY
  SELECT 
    'check_tier_level_range'::pg_catalog.text,
    (SELECT pg_catalog.count(*) = 0::pg_catalog.int8 FROM public.profiles WHERE current_tier_level < 0::pg_catalog.int4 OR current_tier_level > 100::pg_catalog.int4)::pg_catalog.bool,
    'All profiles have tier level in valid range (0-100)'::pg_catalog.text,
    pg_catalog.jsonb_build_object('count'::pg_catalog.text, (SELECT pg_catalog.count(*) FROM public.profiles WHERE current_tier_level < 0::pg_catalog.int4 OR current_tier_level > 100::pg_catalog.int4));

  -- Advanced Logic Checks (calls advanced validation if it exists)
  -- FOR local testing, we might want to catch OR check if it exists
  -- RETURN QUERY SELECT * FROM public.test_db_advanced_validation();

  -- RPC Integrity Checks
  RETURN QUERY SELECT * FROM public.test_db_rpc_validation();

END;
$function$
;

CREATE OR REPLACE FUNCTION public.test_db_rpc_validation()
 RETURNS TABLE(test_name text, result boolean, message text, details jsonb)
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
BEGIN
  RETURN QUERY
  SELECT 
    'rpc_get_ranking_v2_exists'::pg_catalog.text,
    true::pg_catalog.bool,
    'get_ranking_v2 function works with explicit casts'::pg_catalog.text,
    pg_catalog.jsonb_build_object('row_count'::pg_catalog.text, (SELECT pg_catalog.count(*) FROM public.get_ranking_v2(NULL::pg_catalog.text, 'weekly'::pg_catalog.text, 'total'::pg_catalog.text, 1::pg_catalog.int4)));

EXCEPTION WHEN OTHERS THEN
  RETURN QUERY SELECT 'rpc_get_ranking_v2_exists'::pg_catalog.text, false::pg_catalog.bool, SQLERRM::pg_catalog.text, pg_catalog.jsonb_build_object('code'::pg_catalog.text, SQLSTATE::pg_catalog.text);
END;
$function$
;

CREATE OR REPLACE FUNCTION public.update_user_tier(p_user_id uuid)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
DECLARE
  v_total_mastery pg_catalog.int8;
  v_tier_info pg_catalog.jsonb;
BEGIN
  SELECT total_mastery_score INTO v_total_mastery FROM public.profiles WHERE id = p_user_id;
  v_tier_info := public.calculate_tier(COALESCE(v_total_mastery, 0::pg_catalog.int8));
  
  UPDATE public.profiles
  SET current_tier_level = LEAST((v_tier_info->>'level')::pg_catalog.int4, 100),
      updated_at = pg_catalog.now()
  WHERE id = p_user_id;
  
  RETURN v_tier_info;
END;
$function$
;



